ul.bjqs{position:relative; list-style:none;padding:0;margin:0;display:none;}
li.bjqs-slide{position:absolute; display:none;}
li.bjqs-slide img{position:absolute; top:100px;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{transform : scale(1,1.5);
-webkit-transform:scale(1,1.5); /* Safari and Chrome */
-moz-transform:scale(1,1.5); /* Firefox */
-ms-transform:scale(1,1.5); /* IE 9+ */
-o-transform:scale(1,1.5); /* Opera */}
ul.bjqs-controls.v-centered li.bjqs-prev a{transform : scale(1,1.5);
-webkit-transform:scale(1,1.5); /* Safari and Chrome */
-moz-transform:scale(1,1.5); /* Firefox */
-ms-transform:scale(1,1.5); /* IE 9+ */
-o-transform:scale(1,1.5); /* Opera */}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%; display:none;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{display:block;width:85%;margin:0;position:absolute;top:0px;}



ul.bjqs-controls.v-centered li{
	display:block;	
	width: 32px;
height: 32px;
background-repeat: no-repeat;
background-position: center center;
color: #333;
text-decoration: none;
line-height: 100%;
white-space: nowrap;

vertical-align: middle;
margin: 0 2px 5px 0;
background-color: #ececec;
border: solid 1px #b8b8b9;
-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 0 rgba(0,0,0,.1);
-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 0 rgba(0,0,0,.1);
box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 0 rgba(0,0,0,.1);
-webkit-border-radius: 10em;
-moz-border-radius: 10em;
border-radius: 10em;
padding: 8px 10px;
cursor:pointer;
}

#banner-slide1 ul.bjqs-controls.v-centered li.bjqs-next{
	display:inline-block;
	position:relative;
	left:920px;
	top:-240px;
}

#banner-slide1 ul.bjqs-controls.v-centered li.bjqs-prev{
	display:inline-block;
	position:relative;
	left:-60px;
	top:-240px;
}

#banner-slide2 ul.bjqs-controls.v-centered li.bjqs-next{
	display:inline-block;
	position:relative;
	left:405px;
	top:-240px;
}

#banner-slide2 ul.bjqs-controls.v-centered li.bjqs-prev{
	display:inline-block;
	position:relative;
	left:-60px;
	top:-240px;
}

#banner-slide3 ul.bjqs-controls.v-centered li.bjqs-next{
	display:inline-block;
	position:relative;
	left:405px;
	top:-240px;
}

#banner-slide3 ul.bjqs-controls.v-centered li.bjqs-prev{
	display:inline-block;
	position:relative;
	left:-60px;
	top:-240px;
}

ul.bjqs-controls.v-centered li.bjqs-next a{
	top: 9px !important;
left: 11px !important;
}

ul.bjqs-controls.v-centered li.bjqs-prev a{
	top: 9px !important;
left: 10px !important;
}


ul.bjqs-controls.v-centered li:hover{
	background:#ccc;
	color:#fff;
}


p.bjqs-caption{
	background: rgba(255,255,255,0.5);
}


.imgslider{
	height:759px;
	
	margin:50px 0 50px 60px;
}

.overflow-hidden{
	overflow:hidden;
}