



$base-font-family: Open Sans,Tahoma,"Helvetica Neue",Helvetica,Arial,sans-serif;


/* Card Styles - General */

$site-nav-bg: #252525;
$site-nav-sub-bg: #f3f3f3;
$header-color: #000;


/* Card Styles - General */

$card-padding: 10px;
$card-margin: 20px;

/* Card Styles - Topic */

$topic-card-bg: #e5f6ff;